{% extends 'base.html' %}

{% block title %}
Список клиентов
{% endblock %}

{% block content %}
<p>Это содержимое моей страницы.</p>

    <h1>Список клиентов</h1>
    <table>
        <thead>
            <tr><th>Login</th>
                <th>Password</th>
                <th>Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
                <tr>
                    <td>{{ client.login }}</td>
                    <td>{{ client.password }}</td>
                    <td>{{ client.name }}</td>
                    <td>{{ client.email }}</td>
                    <td>
                        <a href="{% url 'view_client' client.id %}">Полная информация</a>
                        <a href="{% url 'update_client' client.id %}">Обновить</a>
                        <a href="{% url 'delete_client' client.id %}">Удалить</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'create_client' 1 %}">Создать нового клиента </a>
{% endblock %}
</body>
</html>
