<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список клиентов</title>
</head>
<body>
    <h1>Список клиентов</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>Registration Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
                <tr>
                    <td>{{ client.name }}</td>
                    <td>{{ client.email }}</td>
                    <td>{{ client.phone_number }}</td>
                    <td>{{ client.address }}</td>
                    <td>{{ client.registration_date }}</td>
                    <td>
                        <a href="{% url 'view_client' client.id %}">Полная информация</a>
                        <a href="{% url 'update_client' client.id %}">Обновить</a>
                        <a href="{% url 'delete_client' client.id %}">Удалить</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'create_client' 1 %}">Создать нового клиента </a>
</body>
</html>
