<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список продуктов</title>
</head>
<body>
    <h1>Список продуктов</h1>
    <table>
        <thead>
            <tr>
                <th>Название</th>
                <th>Описание</th>
                <th>Цена</th>
                <th>Количество</th>
                <th>Дата добавления</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.add_date }}</td>
                    <td><img src="file:///C:/Users/user/Desktop/Django/HW/HW_proj/media/firefox_AFUCwJooyU.png" alt="альтернативный текст" /><a href='C:/Users/user/Desktop/Django/HW/HW_proj/apphw/media/firefox_AFUCwJooyU.png'>dds</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
